
@{
    ViewData["Title"] = "Login";
}

<form id="loginForm" class="small-12 medium-4 cell" type="POST">
    <fieldset class="fieldset small-4 cell">
        <legend>Login</legend>

        <div class="input-group">
            <span class="input-group-label small-4">Username</span>
            <input type="text" id="username" placeholder="Value" class="small-8 input-group-field">
        </div>

        <div class="input-group">
            <span class="input-group-label small-4">Password</span>
            <input type="password" id="password" placeholder="Value" class="small-8 input-group-field">
        </div>
        <div class="cell small-3 medium-1">
            <input type="submit" class="button" value="Login">
        </div>
    </fieldset>
</form>

