@using Console.Auth
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    string welcomemsg = "Open Visualizer to get started. Or not. I'm not your mother.";
    ViewData["Title"] = "Portal";
    if (string.IsNullOrEmpty(User.Identity.Name)==false)
    {
        welcomemsg = "Hi " + User.Identity.Name + ". " + welcomemsg;
    }
}

<p>@welcomemsg</p>

<div class="grid-x grid-margin-x">
    <div class="cell shrink">
        <form action="~/visualizer/">
            <input type="submit" class="button" value="Visualizer" />
        </form>
    </div>
    <div class="cell shrink">
        <form action="~/reports/">
            <input type="submit" class="button" value="Reports" />
        </form>
    </div>
    
    @{
        @if ((await AuthorizationService.AuthorizeAsync(User, Types.BirdsNestAdminsPolicy)).Succeeded)
        {
            <div class="cell shrink">
                <form action="~/admin/">
                    <input type="submit" class="button" value="Admin" />
                </form>
            </div>
        }
    }
    <div class="cell auto"></div>
</div>

