
@{
    ViewData["Title"] = "Portal";
}

<p>Hi @User.Identity.Name. Open Visualizer to get started. Or not. I'm not your mother. </p>
<form action="~/visualizer/">
    <input type="submit" class="button" value="Visualizer" />
</form>

