@using Console.Auth
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    string welcomemsg = "Open Visualizer to get started. Or not. I'm not your mother.";
    ViewData["Title"] = "Portal";
    if (string.IsNullOrEmpty(User.Identity.Name)==false)
    {
        welcomemsg = "Hi " + User.Identity.Name + ". " + welcomemsg;
    }
}

<p>@welcomemsg</p>
<form action="~/visualizer/">
    <input type="submit" class="button" value="Visualizer" />
</form>

@{
    @if ((await AuthorizationService.AuthorizeAsync(User, Types.BirdsNestAdminsPolicy)).Succeeded)
    {
        <form action="~/admin/">
            <input type="submit" class="button" value="Admin" />
        </form>
    }
}
