#curtain {
    position: fixed;
    background-color: lightgray;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: none;
    z-index: 4999 !important
}

#curtainoverlay {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 201;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 5000 !important
}

#modal {
    z-index: 10;
}

.clickable:hover {
    cursor: pointer;
}

.loginform {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.hidden {
    display:none;
}

.toggleitem {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.menu {
    z-index: 500;
}

.title-text {
    font-weight: bold;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}