body, #pagewrapper, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: fixed;
}

#pagewrapper {
	top:0;
	bottom:0;
	right:0;
	left: 0;
}

#querybar {
	/*overflow-x: hidden;  Disable horizontal scroll */
	background-color: #6BFE97;
	padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 35px;
	height: 100px;
}

#drawingpane {
	overflow: hidden;
	position: relative;
	bottom:0;
	height: calc(100% - 108px);
	background-color:#FBFBFB;
	/*background-color: silver;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#detailcardwrapper {
	position: absolute;
	bottom: 3px;
	right: 0;
	max-height: calc(100% - 3px);
	overflow-y: auto;
}

#detailcardwrapper::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
#detailcardwrapper::-webkit-scrollbar-thumb {
    background: #D6D6D6;
}

#viewcontrols {
	position: absolute;
	top:0;
	left:0;
	height: 26px;
	width:85px;
	padding:0;
	background:white;
	border: 2px solid #D6D6D6;
	border-top-style: none;
    border-left-style: none;
	margin:0;
}

#drawingsvg {
	height: 100%;
	width: 100%;
	z-index: 0;
	padding: 0;
}

.inputbox {
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin: 5px;
	height: 24px;
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
}

.pane {
	min-width:100px;
	background:white;
	border: 2px solid #D6D6D6;
	border-radius:5px;
	padding: 5px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}

.detailcard {	
	min-height: 30px;
	font-size: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
	margin-right: 15px;
}

.currentActiveDetailCard {
	border: 2px solid black;
}

.viewcontrol{
	float: left;
	height: 20px;
	width: 20px;
	margin-left:5px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:2px;
}

.viewcontrol-right {
	float: right;
}
.viewcontrol:hover {
	color:gray;
}