body, #pagewrapper, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: fixed;
}

#pagewrapper {
	top:0;
	bottom:0;
	right:0;
	left: 0;
}

#drawingpane {
	overflow: hidden;
	position: relative;
	bottom:0;
	height: 100%;
	background-color:#e8e8e8;
	/*background-color: silver;*/
	font-family: 'helvetica', arial, sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

#detailcardwrapper {
	position: absolute;
	bottom: 3px;
	right: 0;
	max-height: calc(100% - 3px);
	overflow-y: auto;
}

#detailcardwrapper::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
#detailcardwrapper::-webkit-scrollbar-thumb {
    background: #D6D6D6;
}

#viewcontrols {
	position: absolute;
	top:0;
	left:0;
	height: 26px;
	width:85px;
	padding:0;
	background:white;
	border: 2px solid #D6D6D6;
	border-top-style: none;
    border-left-style: none;
	margin:0;
}

#drawingsvg {
	height: 100%;
	width: 100%;
	z-index: 0;
	padding: 0;
}

.pane {
	min-width:100px;
	background:white;
	border: 2px solid #D6D6D6;
	border-radius:3px;
	padding: 5px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}

.detailcard {	
	min-height: 30px;
	font-size: 10px;
	width: 250px;
	word-wrap: break-word;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
	margin-right: 15px;
}

.currentActiveDetailCard {
	border: 2px solid black;
}

.viewcontrol{
	float: left;
	height: 20px;
	width: 20px;
	margin-left:5px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:2px;
}

.viewcontrol-right {
	float: right;
}

.viewcontrol:hover {
	color:gray;
}

.inputbox {

	margin: 5px;
	border: 1px solid #111;
	width: 200px;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	font-size: 16px;
}

.inputbox[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.inputbox[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}