/*search config*/

#querybar, #simplequery {
	position: fixed;
	display: block;
	top: 1.5em;
	left: 0;
	z-index: 50;
	margin: 5px;
}

#querybar {
	right: 0;
}

#searchPane {
    position: relative;
}

#advSearchMaximise {
    position: absolute;
    top: 0;
    left: 0;
}

#simpleSearchTerm {
	width: 250px;
	min-width: 250px;
}

#searchNotification {
	display: inline-block;
	height: 1.2em;
	min-width: 250px;
}

.searchnode, .searchedge {
    stroke: #474747;
    color: #474747;
    fill: #e5e5e5;
    font-size: 12px;
    font-family: 'helvetica', arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchnodecircle, .searchedgerect, .searcharrow {
    stroke-width: 3px;
}

.searchContainer {
	background-color: rgba(255, 255, 255, 0.95);
	margin: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding: 5px;
}

.searchLabel {
    /*opacity: 0.3;*/
    font-size: 2.5rem;
    margin: 0 10px 0 0;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.searchLabel.viewcontrol {
    opacity: 0.6;
}

.searchbutton {
	margin: 0 2px 0 0;
}

.margin-zero {
	margin: 0;
}

.searchSvgContainer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.searchcondition rect {
    fill: transparent;
}

.searchcondition.condition rect {
    stroke-width: 2px;
    color: #474747;
    stroke: #474747;
}

.condition text {
    stroke-width: 0;
    font-size: 10px;
    color: #474747;
    stroke: #474747;
    fill: #474747;
}

.searchedge text {
    stroke-width: 0;
    font-size: 10px;
    color: #474747;
    stroke: #474747;
    fill: #474747;
}

.searchconditiontype {
    font-weight: bold;
}

.searchcontrol:hover {
    color: gray;
}

.searchconditionplus {
    stroke-width: 0px;
    fill: transparent;
}

.searchconditionplus rect {
    stroke-width: 0px;
}

.nodecontrol {
    stroke-width: 0px;
    fill-opacity: 0.7;
    fill: transparent;
}

.nodecontrol:hover {
    fill-opacity: 1;
}

.ui-autocomplete {
    z-index: 4000 !important
}

text.and-or-label {
    stroke-width: 0;
    font-weight: bold;
    font-size: 14px;
    color: #474747;
    stroke: #474747;
    fill: #474747;
}

.conditionbg:hover .conditionbrace {
    fill: cornflowerblue;
}
