/*search config*/
.searchnode, .searchedge {
    stroke: #474747;
    color: #474747;
    fill: #e5e5e5;
    font-size: 12px;
    font-family: 'helvetica', arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchnodecircle, .searchedgerect, .searcharrow {
    stroke-width: 3px;
}

.searchLabel {
    opacity: 0.3;
}

.searchLabel.viewcontrol {
    opacity: 0.6;
}

.searchSvgContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.searchcondition rect {
    stroke-width: 2px;
    color: #474747;
    stroke: #474747;
    fill: white;
}

.searchcondition text {
    stroke-width: 0;
    font-size: 10px;
    color: #474747;
    stroke: #474747;
    fill: #474747;
}

.searchconditiontype {
    font-weight: bold;
}

.searchcontrol:hover {
    color: gray;
}

.searchconditionplus {
    stroke-width: 0px;
    fill-opacity: 0.4;
    fill: transparent;
}

.searchconditionplus rect {
    stroke-width: 0px;
}

.nodecontrol {
    stroke-width: 0px;
    fill-opacity: 0.7;
    fill: transparent;
}

.ui-autocomplete {
    z-index: 4000 !important
}