body, #pagewrapper, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: fixed;
}

#pagewrapper {
	top:0;
	bottom:0;
	right:0;
	left: 0;
}


#drawingpane {
    overflow: hidden;
    position: relative;
    bottom: 0;
    height: 100%;
    background-color: #e8e8e8;
    /*background-color: silver;*/
    font-family: 'helvetica', arial, sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

#detailcardwrapper {
	position: absolute;
	bottom: 0px;
	right: 0;
	max-height: calc(100% - 29px);
	overflow-y: auto;
}

#searchresultsdetails {
    max-height: 250px;
    overflow-y: auto;
    padding: 5px;
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.eyelist {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrollable::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #D6D6D6;
}

#graphstatus {
    position: absolute;
    font-size: 12px;
    bottom: -100px;
    left: 10px;
    height: 30px;
    width: 150px;
    padding: 3px;
    padding-left: 7px;
    border: 2px solid #D6D6D6;
    background: white;
    margin: 0;
}

#viewcontrols {
    position: fixed;
    bottom: 3px;
    left: 0;
    height: 35px;
    width: 240px;
    padding: 0;
    background: white;
    border: 2px solid #D6D6D6;
    border-top-style: none;
    border-left-style: none;
    margin: 0;
}

#progress {
    display: block;
    height: 5px;
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
    z-index:5;
}

#drawingsvg {
	height: 100%;
	width: 100%;
	z-index: 0;
	padding: 0;
}

#viewcontrolbtns {
    padding-left:2px;
    padding-right:2px;
}

.viewcontrol {
    /*float: left;*/
    height: 24px;
    width: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.viewcontrol-right {
    /*float: right;*/
}

.viewcontrol:hover {
    color: gray;
    transform: scale(1.2);
}

#clearViewIcon {
    color: red;
}

#clearViewIcon:hover {
    color:hotpink;
}

.viewcontrolActive {
    color: royalblue;
}

.viewcontrolActive:hover {
    color: steelblue;
}

.cropBox {
    border: 1px dotted dodgerblue;
    fill-opacity: 0.1;
}

.pane {
	min-width:100px;
	background:white;
	border: 2px solid #D6D6D6;
	border-radius:3px;
	padding: 5px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}

.detailcard {
    border: 2px solid black;
    font-size: 12px;
    width: 270px;
    word-wrap: break-word;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.detailcard .accordion-title {
    padding: 7px;
    /*border: 0px;*/
}

.detailcard .accordion-content {
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    /*border: 0px;*/
}

.detailcard .accordion-item {
    /*border: 0px;*/
}

.detailcard ul {
    margin: 0px;
}

.detaillist {
    padding-left: 7px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.currentActiveDetailCard {
    border-color:orange;
}

.inputbox {
	margin: 5px;
	border: 1px solid #111;
	width: 200px;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	font-size: 16px;
}

.inputbox[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.inputbox[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

input[type=number] {
    -moz-appearance:textfield;
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.slider-handle {
  width: 0.8rem;
}

.spinner {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
