#drawingpane {
	background-color:#FBFBFB;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#drawingsvg {
	z-index: 0;
}

#controlpanes {
	position:absolute;
	bottom: 0;
}
#controlpanes .controlpane {
	min-width:100px;
	background:white;
	border: 1px solid #D6D6D6;
	border-radius:5px;
	margin: 5px;
	padding: 5px;
}

#controlpanes .detailscontrol {	
	min-height: 30px;
	font-size: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
}


#controlpanes #viewcontrols {
	height: 24px;
	width:100px;
}

#viewcontrols .viewcontrol{
	float: left;
	height: 20px;
	width: 20px;
	margin-left:5px;
	margin-right:5px;
	margin-top:2px;
	margin-bottom:2px;
}

#viewcontrols .viewcontrol:hover {
	color:gray;
}

/*nodes config*/
.nodes {
	stroke-width:3px;
}

.selected .nodecircle {
	stroke-width:5px;
	fill:#FEFE73;
}

.nodes text {
	font-size:10px;
	fill:#353535;
	stroke:none;
}

.pin {
	color:#3a3a3a;
	fill:#7bc2fc;
	stroke:white;
	stroke-width:1px;
}
.AD_USER {
	color:crimson;
	stroke:crimson;
	fill:#ffe2e7;	
}

.AD_COMPUTER {
	color: steelblue;
	stroke: steelblue;
	fill: lightcyan;
}

.AD_GROUP {
	color: green;
	stroke: green;
	fill: #BBF0C6;
}

.BUILTIN_GROUP {
	color: lightgreen;
	stroke: lightgreen;
	fill: green;
}

.DEVICE {
	color: mediumpurple;
	stroke: mediumpurple;
	fill: purple;
}

.FS_FOLDER {
	color:#ad9370;
	stroke: #ad9370;
	fill: cornsilk;
}
.FS_DATASTORE {
	color:midnightblue;
	stroke: midnightblue;
	fill: lightblue;
}



/*edges config*/
.edgelabel text {
	font-size:8px;
	fill:#353535;
}

.arrows {
	fill:inherit;
}
.AD_MemberOf {
	fill:green;
}

.ConnectedTo {
	fill:blue;
}

.GivesAccessTo {
	fill:red;
}