.drawingpane {
	background-color:#FBFBFB;
}



/*nodes config*/

.nodes {
	stroke-width:3px;
}

.selected .nodecircle {
	stroke-width:5px;
	fill:#FEFE73;
}

.nodes text {
	font-size:10px;
	font-family:arial;
	fill:#353535;
	stroke:none;
}

.pin {
	color:#3a3a3a;
	fill:#7bc2fc;
	stroke:white;
	stroke-width:1;
}
.AD_USER {
	color:crimson;
	stroke:crimson;
	fill:#ffe2e7;	
}

.AD_COMPUTER {
	color: steelblue;
	stroke: steelblue;
	fill: lightcyan;
}

.AD_GROUP {
	color: green;
	stroke: green;
	fill: #BBF0C6;
}

.BUILTIN_GROUP {
	color: lightgreen;
	stroke: lightgreen;
	fill: green;
}

.DEVICE {
	color: mediumpurple;
	stroke: mediumpurple;
	fill: purple;
}

.FS_FOLDER {
	color:#ad9370;
	stroke: #ad9370;
	fill: cornsilk;
}
.FS_DATASTORE {
	color:midnightblue;
	stroke: midnightblue;
	fill: lightblue;
}



/*edges config*/
.edgelabel text {
	font-size:8px;
	font-family:arial;
	fill:#353535;
}

.arrows {
	fill:inherit;
}
.AD_MemberOf {
	fill:green;
}

.ConnectedTo {
	fill:blue;
}

.GivesAccessTo {
	fill:red;
}