
<button id="searchMaximise" class="button searchbutton " aria-label="Show search" type="button" title="Search">
    <i class="fas fa-search"></i>
</button>

<div id="simplequery" style="display: none">
	<div class="searchContainer">
		<div class="input-group shrink margin-zero">

			<input id="simpleSearchTerm" type="search" class="input-group-field" placeholder="Search" autofocus>
			<div class="input-group-button">
				<button id="simpleSearchBtn" class="button searchbutton" aria-label="Search" type="submit" title="Search">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="searchContainer">
		<button id="simpleSearchMinimise" class="button searchbutton" aria-label="Minimise search" type="button" title="Minimise search">
			<i class="fas fa-angle-up"></i>
		</button>
		<button id="simpleToAdvanced" class="button searchbutton" aria-label="Advanced mode" type="button" title="Advanced mode">
			<i class="far fa-window-maximize"></i>
		</button>
		<div id="simpleSearchNotification"></div>
	</div>
	
</div>

@* query bar is hidden by default. Click button above to open it *@
<div id="querybar" style="display: none" >
    <div id="advSearchView" class="">
        <div class="cell grid-x align-middle searchContainer">
            <div id="pathLabel" class="searchLabel cell shrink">
                <b>Search:</b>
                <i id="pathAddIcon" class="fas fa-plus-circle clickable searchcontrol" title="Add node to search path"></i>
            </div>
            <div class="cell auto">
                <svg id="searchPathSvg" class="searchSvgContainer">
                </svg>
            </div>
        </div>

        <div class="cell grid-x align-middle searchContainer">
            <div id="conditionsLabel" class="searchLabel cell shrink">
                <b>Conditions:</b>
            </div>
            <div class="cell auto">
                <svg id="searchConditionSvg" class="searchSvgContainer">
                </svg>
            </div>
        </div>

		<div id="advSearchcButtons" class="searchContainer">
			<button id="advSearchMinimise" class="button searchbutton" aria-label="Minimise search" type="button" title="Minimise search">
				<i class="fas fa-angle-up"></i>
			</button>
			<button id="advanceToSimple" class="button searchbutton" aria-label="Simple mode" type="button" title="Simple search mode">
				<i class="fas fa-window-minimize"></i>
			</button>
			<button id="advSearchClearBtn" class="button searchbutton" aria-label="Clear search" type="button" title="Clear search">
				<i class="fas fa-ban"></i>
			</button>
			<button id="advSearchShareBtn" class="button searchbutton" aria-label="Share search" type="button" title="Share search">
				<i class="fas fa-share-alt"></i>
			</button>
			<button id="searchBtn" class="button searchbutton" aria-label="Submit search" type="button">Search</button>
			<div id="searchNotification"></div>@*<div id="searchExpand"></div>*@
		</div>
    </div>

    <div id="searchAlert" class="reveal">
        <div class=" align-middle">
            <div>
                <span id="alertMessage"></span>
            </div>
            <div id="alertMessageLink"></div>
            <div>
                <button class="button" data-close aria-label="Close alert dialog" type="button">
                    <span aria-hidden="true">OK</span>
                </button>
            </div>

        </div>
    </div>

    <div id="searchMessage" class="reveal">
        <div class=" align-middle">
            <div class="cell">
                <span id="message"></span>
            </div>
            <div id="messageLink" class="cell"></div>
            <div class="cell">
                <button class="button" data-close aria-label="Close alert dialog" type="button">
                    <span aria-hidden="true">OK</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Reveals start -->
<div id="searchNodeDetails" class="reveal">
    <fieldset class="fieldset small-4 cell">
        <legend>Node</legend>

        <div class="input-group">
            <span class="input-group-label small-4">Type</span>
            <select id="nodeType" class="small-8 input-group-field" autofocus></select>
        </div>
        <div class="input-group">
            <span class="input-group-label small-4">Identifier</span>
            <input id="nodeIdentifier" type="search" autocomplete="off" placeholder="*" class="small-8 input-group-field">
        </div>
    </fieldset>
    <button class="close-button" data-close aria-label="Close query dialog" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <div>
        <button id="searchNodeSaveBtn" class="button" aria-label="Save this node" type="button">Save</button>
        <button id="searchNodeDeleteBtn" class="alert button" aria-label="Delete this node" type="button">Delete</button>
    </div>
</div>


<div id="searchEdgeDetails" class="reveal">
    <fieldset class="fieldset small-4 cell">
        <legend>Relationship</legend>

        <div class="input-group">
            <span class="input-group-label small-3">Type</span>
            <select id="edgeType" class="small-9 input-group-field"></select>
        </div>

        <div class="input-group">
            <span class="input-group-label small-4">Identifier</span>
            <input id="edgeIdentifier" type="search" autocomplete="off" placeholder="*" class="small-8 input-group-field">
        </div>

        <span>Limit Hops</span>

        <div class="switch tiny">
            <input class="switch-input" id="hopsSwitch" type="checkbox" name="hopsSwitch" checked>
            <label class="switch-paddle" for="hopsSwitch"></label>
        </div>

        <div class="input-group" id="hopsPane">
            <div class=" input-group-field">
                <div class="small-2">
                    <input type="text" id="minSliderVal" class="hopscontrol">
                </div>
                <div class="small-8">
                    <div id="hopsSlider" class="slider hopscontrol" data-slider data-initial-start="1" data-initial-end="1" data-start="0" data-end="20">
                        <span id="minSlider" class="slider-handle" data-slider-handle role="slider" title="Minimum hop count" aria-controls="minSliderVal"></span>
                        <span id="sliderFill" class="slider-fill" data-slider-fill></span>
                        <span id="maxSlider" class="slider-handle" data-slider-handle role="slider" title="Maximum hop count" aria-controls="maxSliderVal"></span>
                    </div>
                </div>
                <div class="small-2">
                    <input type="text" id="maxSliderVal" class="hopscontrol">
                </div>
            </div>
        </div>

        <div class=" align-top">
            <span class="small-3 align-middle">Direction</span>
            <div id='dirIconClicker' class="small-1 text-left">
                <i id='dirIcon' class="fas fa-arrow-right" data-dir=">"></i>
            </div>
        </div>
    </fieldset>
    <button class="close-button" data-close aria-label="Close query dialog" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <button id="searchEdgeSaveBtn" class="button" aria-label="Save relationship dialog" type="button">Save</button>
</div>

<div id="searchStringConditionDetails" class="reveal">
    <fieldset class="fieldset small-4 cell">
        <legend>Condition</legend>
        <div class="input-group">
            <span class="input-group-label small-4">Referenced Item</span>
            <select id="searchItem" class="small-8 input-group-field" autofocus></select>
        </div>

        <div id="searchOptions">
            <div class="input-group">
                <span class="input-group-label small-4">Property</span>
                <select id="searchProp" class="small-8 input-group-field"></select>
            </div>
            <div class="input-group">
                <div class="input-group-button">
                    <select id="searchOperator" class="input-group-field"></select>
                </div>
                <input id="searchVal" type="search" autocomplete="off" placeholder="*" class="small-8 input-group-field">
            </div>

            <div id="searchCaseOptions" class="grid-x grid-margin-x align-top" title="*Case sensitive search is faster">
                <div class="cell shrink">Case Sensitive:</div>
                <div class="cell auto">
                    <div class="switch tiny" style="display: inline;">
                        <input class="switch-input" id="searchCase" type="checkbox" name="searchCase">
                        <label class="switch-paddle" for="searchCase">
                            <span class="show-for-sr">Case Sensitive</span>
                        </label>
                    </div>
                </div>
            </div>
            
        </div>

        <button class="close-button" data-close aria-label="Close condition dialog" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="grix-x align-middle">
            <button id="searchConditionSaveBtn" class="button" aria-label="Save this condition" type="button">Save</button>
            <button id="searchConditionDeleteBtn" class="alert button" aria-label="Delete this condition" type="button">Delete</button>
            <div id="alertIcon" style="display: inline-block;" class=" align-middle">
                <i class="fas fa-exclamation-triangle" style="margin: 0 0 1rem 1rem; color:orange;"></i>
            </div>
        </div>
</fieldset>
</div>

<div id="searchAndOrDetails" class="reveal">
    <fieldset class="fieldset small-4 cell">
        <legend>And/Or</legend>
        <div class="input-group">
            <span class="input-group-label small-4">Type</span>
            <select id="searchAndOr" class="small-8 input-group-field" autofocus>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
            </select>
        </div>

        <button class="close-button" data-close aria-label="Close condition dialog" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class=" align-middle">
            <div class="small-3 medium-3">
                <button id="searchAndOrSaveBtn" class="button" aria-label="Save this condition" type="button">Save</button>
                <button id="searchAndOrDeleteBtn" class="alert button" aria-label="Delete this condition" type="button">Delete</button>
            </div>
        </div>
    </fieldset>
</div>

<div id="searchConditionTypeSelect" class="reveal">
    <fieldset class="fieldset small-4 cell">
        <legend>Type</legend>
        <div class="input-group">
            <span class="input-group-label small-4">Type</span>
            <select id="searchConditionTypeList" class="small-8 input-group-field" autofocus>
                <option value="STRING">STRING</option>
                <option value="AND">AND</option>
                <option value="OR">OR</option>
                @*<option value="NUMBER">NUMBER</option>*@

            </select>
        </div>

        <button class="close-button" data-close aria-label="Close dialog" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class=" align-middle">
            <div class="small-3 medium-3">
                <button id="searchConditionTypeSelectSaveBtn" class="button" aria-label="Save" type="button">Save</button>
                <button id="searchConditionTypeSelectCancelBtn" class="alert button" data-close aria-label="Cancel this" type="button">Cancel</button>
            </div>
        </div>
    </fieldset>
</div>
    