
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div>
        <fieldset class="fieldset small-4 cell">
            <legend>Relationship</legend>

            <div class="input-group">
                <span class="input-group-label small-3">Type</span>
                <select id="edgeType" class="small-9 input-group-field">
                    <option value="" disabled selected hidden></option>
                    <option value="">*</option>
                </select>
            </div>

            <span class="">Hops</span>
            <div class="input-group">
                <div class="grid-x input-group-field">
                    <div class="cell small-2">
                        <input type="number" id="sliderMin">
                    </div>
                    <div class="cell small-8">
                        <div class="slider" data-slider data-initial-start="0" data-initial-end="1" data-start="0" data-end="20">
                            <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderMin" title="Minimum hop count"></span>
                            <span class="slider-fill" data-slider-fill></span>
                            <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderMax" title="Maximum hop count"></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderMax">
                    </div>
                </div>
            </div>

            <div class="grid-x cell align-top">
                <span class="cell small-3 align-middle">Direction</span>
                <a class="cell small-1 text-left" href='javascript:toggleDir()'>
                    <i id='dirIcon' class="fas fa-arrow-right" data-dir="R"></i>
                </a>
            </div>
        </fieldset>
    </div>