@{
    ViewData["Title"] = "Visualizer";
    Layout = "_Layout";
}

@section Styles
    {
    <link rel="stylesheet" type="text/css" href="~/visualizer/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/visualizer/css/visualization.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
}

<div id="pagewrapper">
    <div id="main">
        <div id="querybar" class="grid-x grid-padding-x">
            <form id="sourceForm" class="small-12 medium-12 cell" type="POST" action="javascript:search()">
                <div class="grid-x grid-margin-x">
                    <fieldset class="fieldset small-4 cell">
                        <legend>Source</legend>

                        <div class="input-group">
                            <span class="input-group-label small-4">Type</span>
                            <select id="sourceType" class="small-8 input-group-field" autofocus onchange="updateProps('source');">
                                <option value="" disabled selected hidden></option>
                                <option value="">*</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-label small-4">Where</span>
                            <select id="sourceProp" class="small-8 input-group-field"></select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-label small-4">Equals</span>
                            <input type="text" id="sourceVal" placeholder="*" class="small-8 input-group-field">
                        </div>
                    </fieldset>

                    <fieldset class="fieldset small-4 cell">
                        <legend>Relationship</legend>

                        <div class="input-group">
                            <span class="input-group-label small-3">Type</span>
                            <select id="edgeType" class="small-9 input-group-field">
                                <option value="" disabled selected hidden></option>
                                <option value="">*</option>
                            </select>
                        </div>

                        <span class="">Hops</span>
                        <div class="input-group">
                            <div class="grid-x input-group-field">
                                <div class="cell small-2">
                                    <input type="number" id="sliderMin">
                                </div>
                                <div class="cell small-8">
                                    <div class="slider" data-slider data-initial-start="0" data-initial-end="5" data-start="0" data-end="20">
                                        <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderMin" title="Minimum hop count"></span>
                                        <span class="slider-fill" data-slider-fill></span>
                                        <span class="slider-handle" data-slider-handle role="slider" aria-controls="sliderMax" title="Maximum hop count"></span>
                                    </div>
                                </div>
                                <div class="cell small-2">
                                    <input type="number" id="sliderMax">
                                </div>
                            </div>
                        </div>

                        <div class="grid-x cell align-top">
                            <span class="cell small-3 align-middle">Direction</span>
                            <a class="cell small-1 text-left" href='javascript:toggleDir()'>
                                <i id='dirIcon' class="fas fa-arrow-right" data-dir="R"></i>
                            </a>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset small-4 cell">
                        <legend>Target</legend>

                        <div class="input-group">
                            <span class="input-group-label small-3">Type</span>
                            <select id="targetType" class="small-9 input-group-field" onchange="updateProps('target');">
                                <option value="" disabled selected hidden></option>
                                <option value="">*</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-label small-3">Where</span>
                            <select id="targetProp" class="small-9 input-group-field"></select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-label small-3">Equals</span>
                            <input type="text" id="targetVal" placeholder="*" class="small-9 input-group-field">
                        </div>
                    </fieldset>
                </div>
                <div class="grid-x cell align-middle">
                    <div class="cell small-3 medium-1">
                        <input type="submit" class="button" value="Search">
                    </div>
                    <div class="cell small-7 medium-auto">
                        <p><div id="searchNotification"></div><div id="searchExpand"></div></p>
                    </div>
                    <div class="cell small-2 text-right">
                        <p><a href='javascript:resetView()'>Clear view</a></p>
                    </div>
                </div>
            </form>

        </div>

        <div id="drawingpane">
            <div id="viewcontrols">
                <div id="viewcontrolbtns" class="grid-x">
                    <span id="restartLayoutBtn" class="cell viewcontrol has-tip" title="Refresh layout">
                        <i id="restartIcon" class="fas fa-sync-alt"></i>
                    </span>
                    <span id="pausePlayBtn" class="cell viewcontrol has-tip" title="Play/pause layout">
                        <i id="pausePlayIcon" class="fas fa-play"></i>
                    </span>
                    <span id="removeBtn" class="cell viewcontrol has-tip" title="Remove node from layout">
                        <i id="removeIcon" class="fas fa-trash-alt"></i>
                    </span>
                    <span class="cell" style="width:32px;"> </span> <!-- spacer -->
                    <span id="menuShowHideButton" class="cell viewcontrol has-tip" title="Hide the search bar">
                        <i id="menuIcon" class="fas fa-angle-up"></i>
                    </span>
                </div>
                <div id="progress" style="width: 0;"></div>
            </div>
        </div>

        <div id="graphstatus" class="grid-x">
            <span id="statusIcon" class="cell small-2"></span>
            <span id="statusMessage" class="cell small-10"></span>
        </div>

        <div id="detailcardwrapper" class="scrollable">

        </div>
    </div>
</div>

@section Scripts
    {
    <script defer src="~/js/fontawesome/all.js" type="text/javascript"></script>
    <script src="~/js/jquery-ui/jquery-ui.js"></script>
    <script src="~/visualizer/js/d3.min.js"></script>
    <script src="~/visualizer/js/visualizer.js" type="text/javascript"></script>
    <script>
        var iconmappings;
        $.getJSON("json/labelicons.json", function (data) {
            iconmappings = new IconMappings(data);
        });
        $.getJSON("/api/graph/node/labels", function (data) {
            var i;
            for (i = 0; i < data.length; ++i) {
                addOption(document.getElementById("sourceType"), data[i], data[i]);
            }
            for (i = 0; i < data.length; ++i) {
                addOption(document.getElementById("targetType"), data[i], data[i]);
            }
        });
        $.getJSON("/api/graph/edges/labels", function (data) {
            for (var i = 0; i < data.length; ++i) {
                addOption(document.getElementById("edgeType"), data[i], data[i]);
            }
        });

        $("#menuShowHideButton").click(function () {
            var icon = $("#menuIcon");
            if (icon.hasClass("fa-angle-up")) {
                icon.removeClass("fa-angle-up");
                icon.addClass("fa-angle-down");
            }
            else {
                icon.removeClass("fa-angle-down");
                icon.addClass("fa-angle-up");
            }
            $("#querybar").slideToggle();
        });

        drawGraph('drawingpane');
    </script>
}