
.searchLabel {
    opacity: 0.3;
}

    .searchLabel.viewcontrol {
        opacity: 0.6;
    }

.searchSvgContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.searchcondition {
    stroke-width: 3px;
    color: #474747;
    stroke: #474747;
    fill: white;
}

.searchcontrol:hover {
    color: gray;
}
