body, #pagewrapper, #main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	position: fixed;
}

#pagewrapper {
	top:0;
	bottom:0;
	right:0;
	left: 0;
}

#drawingpane {
	overflow: hidden;
	position: relative;
	bottom:0;
	height: 100%;
	background-color:#e8e8e8;
	/*background-color: silver;*/
	font-family: 'helvetica', arial, sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

#detailcardwrapper {
	position: absolute;
	bottom: 3px;
	right: 0;
	max-height: calc(100% - 26px);
	overflow-y: auto;
}

#detailcardwrapper::-webkit-scrollbar {
    width: 10px;
    background: transparent;  
}

#detailcardwrapper::-webkit-scrollbar-thumb {
    background: #D6D6D6;
}

#graphstatus {
    position: absolute;
    font-size: 12px;
    bottom: -100px;
    left: 10px;
    height: 30px;
    width: 150px;
    padding: 3px;
    padding-left: 7px;
    border: 2px solid #D6D6D6;
    background: white;
    margin: 0;
}

#viewcontrols {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 135px;
    padding: 0;
    background: white;
    border: 2px solid #D6D6D6;
    border-top-style: none;
    border-left-style: none;
    margin: 0;
}

#drawingsvg {
	height: 100%;
	width: 100%;
	z-index: 0;
	padding: 0;
}

.viewcontrol{
	float: left;
	height: 24px;
	width: 16px;
	margin-left:7px;
	margin-right:7px;
	margin-top:6px;
	margin-bottom:6px;
}

.viewcontrol-right {
    float: right;
}

.viewcontrol:hover {
    color: gray;
}

.pane {
	min-width:100px;
	background:white;
	border: 2px solid #D6D6D6;
	border-radius:3px;
	padding: 5px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}

.detailcard {	
	min-height: 30px;
	font-size: 10px;
	width: 250px;
	word-wrap: break-word;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	white-space: pre-wrap;
	margin-right: 15px;
}

.currentActiveDetailCard {
	border: 2px solid black;
}

.inputbox {

	margin: 5px;
	border: 1px solid #111;
	width: 200px;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	font-size: 16px;
}

.inputbox[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.inputbox[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

input[type=number] {
    -moz-appearance:textfield;
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; 
}

.slider-handle {
  width: 0.8rem;
}

.spinner {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}