.graphbg {
    fill: white;
}

/*nodes config*/
.nodes {
    stroke-width: 3px;
    color: #474747;
    stroke: #474747;
    fill: #e5e5e5;
}

.selected .nodecircle {
    stroke-width: 5px;
    fill: #FEFE73;
}

.selected.disabled .nodecircle {
    fill: #FEFEC5;
}

.nodes text {
    font-size: 10px;
    fill: #353535;
    stroke: none;
    font-family: 'helvetica', arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pin {
    color: white;
    fill: #ff5b5b;
    stroke: white;
    stroke-width: 1px;
}




.Device {
    color: #cab4f7;
    stroke: #cab4f7;
    fill: purple;
}

.GIVES_ACCESS_TO {
    fill: orange;
}

/*edges config*/
.edgelabel text {
    font-size: 8px;
    fill: #353535;
    font-family: 'helvetica', arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrows {
    fill: inherit;
}

.edges.disabled {
    fill: #dddddd;
}

.edges.disabled text {
    fill: #dddddd;
}

.nodes.disabled {
    color: #dddddd;
    stroke: #dddddd;
    fill: #fafafa;
}

.nodes.disabled text {
    fill: #dddddd;
}


/*search config*/
.searchnode, .searchedge {
    stroke: #474747;
    color: #474747;
    fill: #e5e5e5;
    
    font-size: 12px;
    font-family: 'helvetica', arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.searchnodecircle, .searchedgerect, .searcharrow {
    stroke-width: 3px;
}
