@using Console.Auth
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/foundation.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/overrides.css">
    @RenderSection("Styles", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="curtain"></div>
    <div id="curtainoverlay"></div>

    <div id="modal"></div>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="/">BirdsNest</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li>
                    <a>Menu</a>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        @{


                            if (User.Identity.IsAuthenticated)
                            {
                                if ((await AuthorizationService.AuthorizeAsync(User, Types.BirdsNestAdminsPolicy)).Succeeded)
                                    {
                                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                                    }
                                <li><a asp-area="" asp-controller="Reports" asp-action="Index">Reports</a></li>
                                <li><a asp-area="" asp-controller="Visualizer" asp-action="Index">Visualizer</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            }
                            else
                            {
                                <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                            }

                        }
                        <!--<li><a href='javascript:showLoginCurtain()'>Test</a></li>-->
                    </ul>
            </ul>
        </div>
    </div>

    @RenderBody()


<environment include="Development">
    <!--<script src="~/lib/jquery/dist/jquery.js"></script>-->
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/foundation/foundation.js"></script>
    <script src="~/js/foundation/what-input.js"></script>
    <script src="~/js/app.js"></script>
</environment>
    <environment exclude="Development">
        <!--<script src="~/lib/jquery/dist/jquery.js"></script>-->
        <script src="~/js/jquery.min.js"></script>
        <!--<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>-->
        <!--<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>-->
        <script src="~/js/foundation/foundation.js"></script>
        <script src="~/js/foundation/what-input.js"></script>
        <script src="~/js/app.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

