@using Console.Auth
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<ul class="dropdown menu" data-dropdown-menu>
    <li>
        <a><img src="/img/Logo_64x64.png" width="24" height="24"></a>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if ((await AuthorizationService.AuthorizeAsync(User, Types.BirdsNestAdminsPolicy)).Succeeded)
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                    <li><a asp-area="" asp-controller="Reports" asp-action="Index">Reports</a></li>
                    <li><a asp-area="" asp-controller="Visualizer" asp-action="Index">Visualizer</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                }

            }
        </ul>
</ul>
