
@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout_NonSpa";
}

<p></p>
<div class="grid-x grid-margin-x">
    <div class="cell shrink">
        <input id="pluginReloadBtn" type="submit" class="button" value="Reload Plugins" />
    </div>
</div>
<div class="grid-x grid-margin-x">
    <div class="cell input-group">
        <span class="input-group-label small-4">Reload Properties</span>
        <input id="label" type="search" autocomplete="off" placeholder="Label (case sensitive)" class="small-8 input-group-field">
        <div class="input-group-button">
            <input id="updatePropsGoBtn" type="submit" class="button" value="Go" />
        </div>
    </div>
</div>
<div class="grid-x grid-margin-x">
    <div class="cell shrink">
        <text id="reloadmessage"></text>
    </div>
</div>

@section Scripts
    {

    <environment include="Development">
        <script src="/dist/admin-bundle.js" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <script src="/dist/admin-bundle.js" type="text/javascript"></script>
    </environment>
}