#curtain {
    position: fixed;
    background-color: lightgray;
    opacity: 0.8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    display: none;
}

#curtainoverlay {
    position: fixed;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 201;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#modal {
    z-index: 10;
}

.loginform {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.hidden {
    display:none;
}