.top-bar .menu a {
	padding: 0.1rem;
	color: #FFF;
}

.top-bar {
	padding: 0;	
}

.top-bar, .top-bar ul {
	background-color: #606060;
}

.top-bar-right .dropdown.menu a {
    padding: 0.2rem 1rem;
}

.top-bar-right .dropdown.menu .is-active a {
    color: #FFF;
    background-color: #656565;
}

.top-bar-right .dropdown.menu .is-dropdown-submenu a {
    padding: 0.4rem 1rem;
}

.top-bar-right .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #53FF67 transparent transparent;
}

.menu .menu-text {
	padding: 0.2rem 1rem;
}

#viewcontrols .has-tip {
    border-bottom: none;
    cursor: auto;
}