{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Foundation for Sites</title>-->
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="{% url 'portal_welcome' %}">BirdsNest</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            {% if user.is_authenticated %}
              <a href="{% url 'portal_logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'portal_login' %}">Login</a>
            {% endif %}
            <ul class="menu">
              <li><a href="{% url 'portal_welcome' %}">Home</a></li>

              {% if user.is_authenticated %}
                <li><a href="{% url 'portal_logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'portal_login' %}">Login</a></li>
              {% endif %}
            </ul>
        </ul>
      </div>
    </div>

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
