@{
    ViewData["Title"] = "Home";
}

<p>BirdsNest is a environment discovery and visualization tool. You must login to continue. </p>
<input type="submit" class="button" value="Login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
