{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
	<form role='form' action="{% url 'portal_login' %}" method='post'>
		{% csrf_token %}

		<p>Please login</p>

		<div class="form-group">
			<!--<input type="text" placeholder="Username" class="form-control">-->
			{{ form.username }}
		</div>
		<div class="form-group">
			<!--<input type="password" placeholder="Password" class="form-control">-->
			{{ form.password }}
		</div>
		
		<button type="submit" class="btn btn-success">Sign in</button>
	</form>
{% endblock %}