
@{
    ViewData["Title"] = "Reports";
    Layout = "_Layout_NonSpa";
}

    <div class="table-scroll">
        <table id="outputtable" class="hover">
            <thead>
                <tr>
                    <th>Report</th><th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="~/reports/emptygroups">Empty Groups</a></td>
                    <td>Lists Active Directory groups that contain no users or computers, either directly or indirectly</td>
                </tr>
            </tbody>
        </table>

    </div>