@using Console.Plugins

@model Plugin

    <div class="table-scroll">
        <p><h4>@(Model.DisplayName) Reports</h4></p>
        <table id="outputtable" class="hover">
            <thead>

                <tr>
                    <th>Report</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @{
                foreach (string key in Model.Reports.Keys)
                {
                    Report rep;
                    Model.Reports.TryGetValue(key, out rep);
                    <tr>
                        <td><a href=@("/reports/pluginquery?pluginname="+ Model.Name +"&reportname=" + key)>@(rep.DisplayName)</a></td>
                        <td>@(rep.Description)</td>
                    </tr>
                    }
                }

            </tbody>
        </table>

    </div>