@using Newtonsoft.Json
@using Console.neo4jProxy

@{
    Layout = "_Layout_NonSpa";
}

@model ResultSet
@Html.Hidden("results", JsonConvert.SerializeObject(Model))
<div class="grid-x">
    <div class="cell auto" id="reportmenu">
        <ul class="dropdown menu" data-dropdown-menu data-close-on-click="false" data-close-on-click-inside="false">
            <li>
                <a id="reportmenutext"></a>
                <ul class="menu">
                    <li id="columnsli">
                        <a href="#">Columns</a>
                        <ul class="vertical menu nested" id="columnstoggles"></ul>
                    </li>
                    <li id="downloadli"><a  href="#" onclick="javascript:onDownloadClicked()">Download</a></li>
                    <li id="visualizerli"><a href="#" onclick="javascript:onVisualizerClicked()">Open in Visualizer</a></li>
                    <li><a href="#" data-open="querydialog">Show query</a></li>
                </ul>
        </ul>
    </div>
    <div class="cell auto" id="status"></div>
    <div class="cell shrink" id="pages">
        <div class="grid-x grid-margin-x">
            <div style="margin:5px;"><a href="#" onclick="javascript: onPageDownClicked()"><i class="fas fa-caret-left" ></i></a></div>
            <div  style="margin:5px;" class="text-center" id="pagemessage"></div>
            <div style="margin:5px;"><a href="#" onclick="javascript: onPageUpClicked()"><i class="fas fa-caret-right"></i></a></div>
        </div>
    </div>
</div>
<div class="table-scroll">
    <table id="outputtable" class="hover" style="table-layout:fixed;">
        <thead>
            <tr id="outputHeader"></tr>
        </thead>
        <tbody id="outputBody"></tbody>
    </table>
</div>

<div id="querydialog" class="reveal" data-reveal>
    <p>@ViewData["Query"]</p>
    <button class="close-button" data-close aria-label="Close query dialog" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


@section Scripts {
    <script defer src="/js/fontawesome/all.js" type="text/javascript"></script>
    <script defer src="/reports/js/tableview.js" type="text/javascript"></script>
}