{% extends "spa.html" %}
{% load staticfiles %}

{% block head %}
	
{% endblock %}

{% block content %}
		<link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/sidenav.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/visualization.css' %}">
		<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

		<script src="{% static 'visualizer/js/menu.js' %}" type="text/javascript"></script>
		<script src="{% static 'visualizer/js/searchsubmit.js' %}" type="text/javascript"></script>

    	<div id="pagewrapper">
			<div id="menuwrapper">
				<div id="sidemenu" class="menutext">				
					<a href="#">About</a>
					<a href="#">Services</a>
					<a href="#">Clients</a>
					<a href="#">Contact</a>
				</div>	
			</div>
			<div id="openclosebox" class="menutext">
				<a href="javascript:void(0)" id="openclosebtn"></a>
			</div>
			<div id="main">
				<div id="container grid-container full querybar">
					<form id="searchForm" type="POST" action="javascript:search()">
						{% csrf_token %}
						<div class="grid-x">
							<div large-3 medium-3 cell>
								<input type="text" id="node1" class="inputbox">
							</div>
							<div large-3 medium-3 cell>
								<input type="text" id="relationship" class="inputbox">
							</div>
							<div large-3 medium-3 cell>
								<input type="text" id="node2" class="inputbox">							
							</div>
						</div>
						<div class="grid-x">
							<input type="submit">
							<p id="cypher"></p>	
						</div>
					</form>
					
				</div>
				
				<div id="drawingpane" tabindex="0">
					<div id="detailcardwrapper"></div>
					<div id="viewcontrols">
						<div onclick="restartLayout()">
							<i id="restartIcon" class="fas fa-sync-alt viewcontrol"></i>
						</div>
						<div id="pausePlayBtn" onclick="playLayout()">
							<i id="pausePlayIcon" class="fas fa-play viewcontrol"></i>
						</div>
						<div onclick="showMenu()">
							<i id="menuIcon" class="fas fa-angle-down viewcontrol viewcontrol-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}

{% block tail %}
	<script>
		//var getAllUrl = "{% static 'visualizer/json/testdata.json' %}";
		//var getAllUrl = "/api/getall";
		var iconsjson;
		var iconmappings;
		$.getJSON("{% static 'visualizer/json/labelicons.json' %}", function(data) {
		        iconsjson = data;
		        iconmappings = new IconMappings(iconsjson);
		    });
		//var 
	</script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="{% static 'visualizer/js/draw-d3.js' %}" type="text/javascript"></script>
	<script src="{% static 'visualizer/js/search.js' %}" type="text/javascript"></script>
	<script>
		closeNav();
		drawGraph('drawingpane');
	</script>
{% endblock %}